<h1>Просмотр отзыва #<%= @feedback.id %></h1>

<div class='block'>
  <div class='offset'>
    <%= link_to('Одобрить', approve_admin_feedbacks_path(id: @feedback.id)) + " | " if @feedback.status == 0 %>
    <%= link_to 'Редактировать', edit_admin_feedback_path(@feedback) %> |
    <%= link_to('Смотреть на сайте', "/otzivi") + " | " if @feedback.status == 1 %>
    <%= link_to 'Назад', admin_feedbacks_path %>
  </div>
</div>

<div class='space'></div>

<% if notice %>
    <div class='block'>
      <div class='offset'>
        <p id="notice"><%= notice %></p>
      </div>
    </div>

    <div class='space'></div>
<% end %>


<div class='block'>
  <div class='offset'>

    <p>
      <b><%= t('created_at') %></b>
      <%= l(@feedback.created_at, format: :comment) %>
    </p>

    <p>
      <b><%= t('activerecord.attributes.feedback.author') %></b>
      <%= @feedback.author %>
    </p>

    <p class='desc'>
      <b><%= t('activerecord.attributes.feedback.description') %></b>
      <span>
        <%= @feedback.description %>
      </span>
      <div class='clear'></div>
    </p>

    <p>
      <b><%= t('activerecord.attributes.feedback.status') %></b>
      <%= House::STATUS[@feedback.status][0] %>
    </p>

    </div>
</div>