<h1>
  <% if params[:realty_type] == 'sell' %>
      Поиск по каталогу продажи недвижимости
  <% else %>
      Поиск по каталогу аренды недвижимости
  <% end %>
</h1>

<%= render 'search_fields' %>

<div class='space'></div>

<div class='block'>
  <div class='offset'>
    <table>
      <tr>
        <th>#</th>
        <th><%= t('created_at') %></th>
        <th><%= t('activerecord.attributes.house.address')%></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @houses.each do |house| %>
          <tr class='<%= 'moderation' if house.status == 0 %>'>
            <td><%= house.id %></td>
            <td><%= link_to I18n.localize(house.created_at, :format => :long), edit_admin_house_path(house, realty_type: params[:realty_type]) %></td>
            <td><%= truncate(house.address, :length => 60) %></td>
            <td class='actions'>
              <%= link_to 'Показать', admin_house_path(house,:realty_type => params[:realty_type]) %>
              <%= link_to '[х]', admin_house_path(house, :realty_type => params[:realty_type]), method: :delete, data: { confirm: 'Вы уверены?' } %>
            </td>
          </tr>
      <% end %>
    </table>

    <%= will_paginate @houses %>

  </div>
</div>
